Background({{PATH}}, {{SMOOTH_EDGE}}, {{TRANSPARENT}}, {{PRELOAD}}, (TileFormat) {
    .offset = (Vector2) {
        .x = {{OFFSET_X}},
        .y = {{OFFSET_Y}}
    },
    .separation = (Vector2) {
        .x = {{SEPARATION_X}},
        .y = {{SEPARATION_Y}}
    },
    .size = (Vector2) {
        .x = {{SIZE_X}},
        .y = {{SIZE_Y}}
    }
}),
